/*
 * -------------------------------------------------
 *  nf-core/bagobugs Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {

  // Input options
  input = ''
  adapters = '/home/AD/mgordon/DATA/microbiome_testdata/testdata/YAMP_data/test_data/adapters.fa'
  metaphlan_database = '/home/AD/mgordon/DATA/microbiome_testdata/testdata/YAMP_data/metaphlan_databases'
  // contaminants_fa
  // genome = false add for removing contaminants

  // HUMANN3 options (use if else statement in script if skipp_humann not specified this must be made available!)
  skip_humann         = false
  chocophlan_database = '/Data/metagenomics/humann_dbs_full/chocophlan'
  uniref_database     = '/Data/metagenomics/humann_dbs_full/uniref'

  // Boilerplate options
  single_end = false
  outdir                            = './results'
  tracedir                          = "${params.outdir}/pipeline_info"
  publish_dir_mode                  = 'copy'
  email                             = false
  email_on_fail                     = false
  plaintext_email                   = false
  max_multiqc_email_size            = '25.MB'
  skip_multiqc                      = false
  enable_conda                      = false
  validate_params                   = true
  show_hidden_params                = false
  schema_ignore_params              = 'modules'
  monochrome_logs                   = false
  help                              = false
  enable_conda                      = false
  singularity_pull_docker_container = false

  //multiqc options
  skip_multiqc               = false
  multiqc_config             = false
  multiqc_title              = false

  //Config options
  custom_config_version = 'master'
  custom_config_base = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
  hostnames = [:]
  config_profile_name = false
  config_profile_description = false
  config_profile_contact = false
  config_profile_url = false


  multiqc_config             = ''
  multiqc_title              = ''
  schema_ignore_params = 'modules'

  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h

}

// Container slug. Stable releases should specify release tag!
// Developmental code should specify :dev
process.container = 'nfcore/bagobugs:dev'

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load modules.config by default for all pipelines
includeConfig 'conf/modules.config'

// Load nf-core custom profiles from different Institutions
try {
  includeConfig "${params.custom_config_base}/nfcore_custom.config"
} catch (Exception e) {
  System.err.println("WARNING: Could not load nf-core/config profiles: ${params.custom_config_base}/nfcore_custom.config")
}

profiles {
  debug { process.beforeScript = 'echo $HOSTNAME' }
  conda { params.enable_conda = true
          docker.enabled = false
          singularity.enabled = false
  }
  docker {
    docker.enabled = true
    singularity.enabled = false
    // Avoid this error:
    //   WARNING: Your kernel does not support swap limit capabilities or the cgroup is not mounted. Memory limited without swap.
    // Testing this in nf-core after discussion here https://github.com/nf-core/tools/pull/351
    // once this is established and works well, nextflow might implement this behavior as new default.
    docker.runOptions = '-u \$(id -u):\$(id -g)'
  }
  singularity {
    docker.enabled = false
    singularity.enabled = true
    singularity.runOptions = "--home $HOME"
    singularity.autoMounts = true
    singularity.cacheDir   = "${baseDir}/singularity"
  }
  nibsc {
    process.executor = 'slurm'
    process.containerOptions = '-B /usr/share'
    singularity.enabled = true
    singularity.autoMounts = true
  }
  test { includeConfig 'conf/test.config' }
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
  R_PROFILE_USER = "/.Rprofile"
  R_ENVIRON_USER = "/.Renviron"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag_${trace_timestamp}.svg"
}

manifest {
  name = 'nf-core-bagobugs'
  author = 'Martin Gordon & Ravneet Bhuller'
  homePage = ''
  description = 'Metagenomics shotgun sequencing analysis pipeline'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.04.0'
  version = '1.0.0'
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
