/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/bagobugs -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'

  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  input = '/home/AD/mgordon/PROJECTS/B034_NextFlow_Metagenomics/nf-core-bagobugs/docs/test_samplesheet.csv'
  metaphlan_database = '/home/AD/mgordon/DATA/microbiome_testdata/testdata/YAMP_data/metaphlan_databases'
  adapters = '/home/AD/mgordon/DATA/microbiome_testdata/testdata/YAMP_data/test_data/adapters.fa'
  single_end = false

  // this is the nibsc nfcore input
  //input = 'https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/meta/test_data_meta.tsv'
  //tool = 'metaphlan2'
}
